<div class="col-lg-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Edite fichier</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
       
          <form>
            <div class="form-row">
              <div class="col-md-6 col-12">
                <div class="form-group mb-2">
                  <label for="basic-form-1">nom-fichier</label>
                  <input type="text" id="basic-form-1" class="form-control"   name="fname">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group mb-2">
                  <label for="basic-form-6">Société</label>
                  <select id="basic-form-6"  name="interested" class="form-control">
                    <option value="none" selected disabled>Société</option>
                    <option value="design">Elite</option>
                    <option value="development">Ise</option>
                    <option value="illustration">Elite2com</option>
                  
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 col-12">
                <div class="form-group mb-2">
                  <label for="basic-form-3">Type-fichier</label>
                  <input type="text"  id="basic-form-3" class="form-control" name="type">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group mb-2">
                  <label for="basic-form-4">Date-d'installation</label>
                  <input type="date"   id="basic-form-4" class="form-control" name="date">
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="basic-form-5">Extension</label>
              <input type="text" id="basic-form-5"   class="form-control" name="extension">
            </div>
           
            <div class="form-group mb-2">
              <label for="basic-form-8">Fichier</label>
              <input type="file" class="form-control-file"  id="basic-form-8">
            </div>
            
            <button type="button" class="btn btn-primary mr-2"><i class="ft-check-square mr-1" ></i>Save</button>
            
            <button type="button" class="btn btn-secondary"><i class="ft-x mr-1"></i>Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
