.title{
    text-align: center;
}

.left{
    padding-left: 1000px;

}
.middle{
    padding-left: 30px;
}

.centre {
    padding-top: 36px;
}
div.serv{
    width: 220px;
}
div.salle{
    width: 100px;
}
div.date{
    width: 150px;
}
.border{
   border-color: darkorchid;
  
   border-style: solid;
   
}
